@import '../../variables';

.header {
	border-bottom: 1px solid grey;
	text-align: center;
	background: $dark-primary-color;

	.header-menu {
		list-style-type: none;

		.header-menu-item {
			display: inline-block;
			margin: 0 20px;
			padding: 0;
		}
	}
}