.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .site .site-content {
    flex: 1;
    padding: 2em 10em 0; }

.form {
  max-width: 500px; }

table tr {
  border-bottom: 1px solid lightgrey; }
  table tr td, table tr th {
    padding: 5px 10px; }
