$dark-primary-color: #00796B;
$light-primary-color: #B2DFDB;
$primary-color: #009688;
$text-elements-color: #FFF;
$accent-color: #FF5722;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
